# Android
android/.gradle/
android/app/build/
android/app/release/
android/local.properties
android/captures/
android/externalNativeBuild/
android/.cxx/
*.iml
.idea/
.idea/*
.gradle/

# OS files
.DS_Store
Thumbs.db

# Backend
backend/node_modules/
backend/.env
backend/server.log

# IDE
.vscode/
*.swp
*.swo

# Sensitive
photo's/
